{% extends "checkout_layout.html" %}

{% block title %}Checkout | {{ super() }}{% endblock %}

{% block header %}Cart Page{% endblock %}

{% block content %}
<div class="a">
    <span>Your Cart</span>
</div>
<div class="b">
    {% for item in checkout_items %}
        <p class="item_details">{{ item['name'].title() }} | ${{ item['price']}} | X {{ item['quantity'] }}</p>
    {% endfor %}
    <form action="{{ url_for('submit_order') }}" method="POST">
        <br>
        <br>
        <input hidden name="orderDetails" value="{{ orderDetails }}">Cart Total ${{ cart_total}}</span>
        <br>
        <br>
        <input type="submit" value="Submit Order">
    </form>
</div>

{% endblock %}