{% extends "checkout_layout.html" %}

{% block title %}Checkout | {{ super() }}{% endblock %}

{% block header %}Inventory Page{% endblock %}

{% block content %}
<div class="a">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <span class="flashes">{{ message }}</span>
            {% endfor %}
        {% endif %}
        {% if not messages %}
            <span class="default">Select Items</span>
        {% endif %}
    {% endwith %}
</div>
<form class="b" action="{{ url_for('add_item') }}" method="POST">
    {% for item in items %}
    <p class="item_details">{{ item['name'].title() }} | ${{ item['price'] }}</p>
    <input type="number" name="{{ item['name'] }}">
    {% endfor %}
    <br>
    <br>
    <input type="submit" name="submitbutton" value="Add to Cart!">
</form>

<!-- 
<form class="c" action="{{ url_for('create_item') }}" method="POST">
    <p class="item">Item Name</p>
    <input type="text" name="name">
    <br>
    <p class="item">SKU</p>
    <input type="text" name="sku">
    <br>
    <p class="item">Amount Cents</p>
    <input type="number" name="amount_cents">
    <br>
    <p class="item">Description</p>
    <input type="text" name="description">
    <br>
    <input type="submit" name="submitbutton" value="Add Item!!">
    <p>ahh, would ya look at that??</p>
    <p>would ya just look at that??</p> 
</form>
-->

{% endblock %}