<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Flask Basics{% endblock %}</title>
        <link rel="stylesheet" href="/static/CSS/checkout.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata:400,700&display=swap">
    </head>

    <body>
        <div class="header">
            <header>
                <h1 class="header_text">{% block header %}{% endblock %}</h1>
            </header>
        </div>

        <div class="content">
            <div class="items">
                {% block content %}{% endblock %}
            </div>
            
        </div>
        
    </body>
</html>